{% extends "base_no_nav.html" %}
{% load staticfiles %}
{% block content %}


    <br>
    <br>

    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }

        /* video containers */
        #video-background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1; 
            object-fit: cover;
            cursor: pointer;
        }

        /* content containers*/
        .content {
            position: relative;
            z-index: 1;
            width: 100%;
            padding-top: 10px;
            /* color: white; */
            text-align: center;
            padding-top: 0px;
            font-size: 2em;
        }
    </style>

    <div style="height: 100%;" id="video-container">
        <!-- video-background -->
        <video id="video-background" autoplay muted loop>
            <source src="{% static 'home_video.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <!-- content -->
        <!-- <div class="content">
            <img src="{% static 'img/hl.png' %}" />
        </div> -->
    </div>
{% endblock content %}

{% block js_content %}

    <script>
        const video = document.getElementById('video-container');
        video.addEventListener('click', () => {
            window.location.href = "{% url 'play' %}";
        });
    </script>

{% endblock js_content %}