{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<br>
<br>
<style>
.fixed-bottom-link {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0,0,0,.2);
    z-index: 1000;
    text-decoration: none;
    color: #007bff;
}
</style>
<div>
    <div class="media-left media-middle">
        <a href="#">
            <img class="media-object" src="{% static 'img/logo.jpg' %}" style="width: 10em; margin-left: 30px;">
        </a>
    </div>
    <div style="display: flex; justify-content: center; width: 100%;">
    	<div style="display: flex; flex-wrap: wrap; gap: 10px; justify-content: center;">
    		{% for p_name, p_name_os in persona_names %}
    			<div id="on_screen_det_trigger-{{p_name_os}}" style="display: flex; align-items: center; gap: 20px; background-color: #EEEEEE; padding: 1em; padding-left: 1.5em; padding-right: 2em; border-radius: 10px; cursor: pointer; flex: 0 0 calc(20% - 20px); max-width: calc(20% - 20px);">
    				<div class="media-left media-middle">
    					<a href="#">
    						<img class="media-object" src="{% static 'img/atlas.png' %}" style="width: 2em">
    					</a>
    				</div>
    				<div>
    					<div class="row">
    						<h2 id="name__{{ p_name_os }}" style="margin-bottom: 0.8em; font-size: 1em;">
    							{{p_name}} &nbsp;&nbsp;
    							<a href="{% url 'replay_persona_state' sim_code step p_name_os %}" style="font-size: 0.6em;">status</a>
    						</h2>
    					</div>
    				</div>
    			</div>
    		{% endfor %}
    	</div>
    </div>
	<br>
	<div style="display: none" id="temp_focus"></div>
<div style="display: flex; justify-content: flex-end; padding-right: 10%;">
    <div style="text-align: left;">
        <span style="color: white;">1. Use the keyboard arrow keys to move the screen, and click the avatar above to track the perspective.</span><br/>
        <span style="color: white;">2. When you press the Z key, the view zooms in, and when you press the X key, the view zooms out.</span>
    </div>
</div>
	<div id="game-container" style="text-align: center"></div>
	<div style="width:55%; margin: 0 auto; margin-top:4.5em">
		<h3 style="margin-bottom:-0.5em; font-size:1.5em;color: teal;">cur time:</h3>
		<div class="row">
			<div class="col-md-8" id="game-time" style="">
				<h2><span id="game-time-content" style="color: white;"></span></h2>
			</div>
			<div class="col-md-4">
				
				<h2 style="text-align: right; {% if mode == 'simulate' %} display: none {% endif %}">
					<button id="play_button" type="button" class="btn btn-default">
				    <strong style=" font-size:1.2em"><i class="glyphicon glyphicon-play"></i> &nbsp;Play</strong>
				  </button>
				  
				  <button id="pause_button" type="button" class="btn btn-default">
				    <strong style=" font-size:1.2em"><i class="glyphicon glyphicon-pause"></i> &nbsp;Pause</strong>
				  </button>

				</h2>
				
			</div>
		</div>

		<br>
		<hr style="border-color:#999999">
		<br>

		{% for p_name, p_name_os in persona_names %}
			<div class="media" style="background-color:#EEEEEE; padding:1em; padding-left:3.5em; padding-right:2em; border-radius:10px">
			  <div class="media-left media-middle">
			    <a href="#">
			      <img class="media-object" src="{% static 'img/atlas.png' %}" style="width:5em">
			    </a>
			  </div>
			  <div class="media-body" style='padding-left:3em; padding-top:0.5em; padding-bottom:1em'>
			  	<div class="row">
			    	<h2 class="col-md-8" id="name__{{ p_name_os }}" style="margin-bottom:0.8em; font-size:1.85em; ">
			    		{{p_name}} &nbsp;&nbsp;
			    		<a href="{% url 'replay_persona_state' sim_code step p_name_os %}" style="font-size:0.6em">status</a>
			    	</h2>
			    </div>
			    <div style="">
					  <p style="font-size:1.2em"><strong>action:</strong> <br><span id="current_action__{{ p_name_os }}"></span></p>
					  <p style="font-size:1.2em"><strong>pos:</strong> <br><span id="target_address__{{ p_name_os }}"></span></p>
					  <p style="font-size:1.2em"><strong>chat:</strong> <br><span id="chat__{{ p_name_os }}"></span></p>
					</div>
			  </div>
			</div>	
			<br>
		{% endfor %}

	</div>
    <div class="fixed-bottom-link">
        <a href="https://twitter.com/E3A_EternalAI" target="_blank" style="margin-right: 15px">X (Twitter)</a>
        <a href="https://discord.gg/Ppf5SZ4q" target="_blank" style="margin-right: 15px">Discord</a>
    </div>
</div>

  



<div style="padding-bottom:15em"> </div>


<!-- partial -->
<script src="{% static 'js/phaser.js' %}"></script>
{% include 'home/main_script.html' %}
{% endblock content %}

{% block js_content %}
<script>
	{% for p_name, p_name_os in persona_names %}
		$('#on_screen_det_trigger-{{p_name_os}}').click(function() {
			$('#on_screen_det_content-init').css({
		      'display': 'none',
		    });
			// 重置所有
			{% for p_name, p_name_os in persona_names %}
				$('#on_screen_det_content-{{p_name_os}}').css({
				'display': 'none',
				});
				$('#on_screen_det_trigger-{{p_name_os}}').css({
					'font-weight': '500',
				});
				$('#on_screen_det_trigger-{{p_name_os}}').css({
				'background-color': '#EEE',
				'border-radius': '10px'
				});
			{% endfor %}

    	$('#on_screen_det_trigger-{{p_name_os}}').css({
	      'font-weight': '900',
	    });
	    
	    $('#on_screen_det_content-{{p_name_os}}').css({
	      'display': 'block',
	    });

		if(document.getElementById("temp_focus").innerHTML == '{{p_name}}'){
			document.getElementById("temp_focus").innerHTML = "";
			

		}else{
			document.getElementById("temp_focus").innerHTML = "{{p_name}}";
			$('#on_screen_det_trigger-{{p_name_os}}').css({
			'background-color': '#ABFF84',
			'border-radius': '10px'
			});
		}

		});
	{% endfor %}
</script>
{% endblock js_content %}