{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<br>
<br>
<style>
.fixed-bottom-link {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #242425;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0,0,0,.2);
    z-index: 1000;
    text-decoration: none;
    color: #1a1a1a;
}
</style>
<style>
	.bar-ontainer {
		width: 80%;
		margin: 20px auto;
		position: relative;
		height: 30px;
	}

	#progress-bar {
		background: rgba(88, 83, 83, 0.5);
		height: 4px;
		border-radius: 2px;
		position: relative;
		top: 13px;
		width: 100%;
	}

	#progress {
		background: rgba(88, 83, 83, 0.9);
		height: 100%;
		width: 100%;
		transition: width 0.1s;
	}

	/* Updated slider style to float over the progress bar */
	#slider {
		position: absolute;
		z-index: 10;
		width: 16px;
		height: 16px;
		background: #fdfbfb;
		border-radius: 2px;
		top: 50%; /* vertically center the slider inside its parent */
		transform: translateY(-50%);
		left: calc(100% - 8px);
		cursor: pointer;
		box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	}

	.frame-info {
		display: flex;
		justify-content: space-between;
		margin-top: 35px;
		padding: 0 5%;
	}
</style>
<div>
    <!-- <div style="display: flex; justify-content: center; width: 100%;">
    	<div style="display: flex; flex-wrap: wrap; gap: 10px; justify-content: center;">
    		{% for p_name, p_name_os in persona_names %}
    			<div id="on_screen_det_trigger-{{p_name_os}}" style="display: flex; align-items: center; gap: 20px; background-color: #EEEEEE; padding: 1em; padding-left: 1.5em; padding-right: 2em; border-radius: 10px; cursor: pointer; flex: 0 0 calc(20% - 20px); max-width: calc(20% - 20px);">
    				<div class="media-left media-middle">
    					<a href="#">
                            <img class="media-object" src="{% static 'assets/characters/town/profile/'|add:p_name_os|add:'.png' %}" style="width: 2em">
    					</a>
    				</div>
    				<div>
    					<div class="row">
    						<h2 id="name__{{ p_name_os }}" style="margin-bottom: 0.8em; font-size: 1em;">
    							{{p_name}} &nbsp;&nbsp;
    							<a href="{% url 'replay_persona_state' sim_code step p_name_os %}" style="font-size: 0.6em;">status</a>
    						</h2>
    					</div>
    				</div>
    			</div>
    		{% endfor %}
    	</div>
    </div> -->
	<div style="display: none" id="temp_focus"></div>
    <!-- <div style="display: flex; justify-content: flex-end; padding-right: 10%;">
        <div style="text-align: left;">
            <span style="color: white;">1. Use the keyboard arrow keys to move the screen, and click the avatar above to track the perspective.</span><br/>
            <span style="color: white;">2. When you press the Z key, the view zooms in, and when you press the X key, the view zooms out.</span>
        </div>
    </div> -->
	<!-- botstrap 写一个容器，分成两份，左边空一个栅格占用60% 右边20% 右边再空一个栅格 -->
	<div class="container-fluid" style="min-width:1860px">
        <div class="row">
			<div class="col-md-1"></div>
            <div class="col-md-7" >
                <div class="text-white" id="game-container">
                    <!-- game content -->
                </div>
            </div>
			
            <div class="col-md-4">
				<div class="text-white" >
                    <div class="dialog-container" id="gameDialog">
                        <div class="header-section">
							<div class="character-info" >▶&nbsp;<span id="character_name"></span> </div>
							<div class="location-info"><i class="geo-alt-fill"></i><span>Position:&nbsp;</span><span id="character_pos"></span></div>
							<div class="user_action">Action:&nbsp;<span id="character_atcion"></span></div>
						</div>
						<div class="chat-content"  >
							<div style="display: inline; color: #ebe7e7;">
								Chat:
							</div>
							<div id="dialog_content">
								None
							</div>
							
						</div>
						<div class="input-section">
							<input type="text" class="chat-input"  placeholder="input chat content..." />
							<button style="background-color: #c9a769; color: #1a2a1a; padding: 8px 4px; border: none; border-radius: 4px; margin-left: 10px;" onclick="alert('Sorry, It will be ok as soon as possible.')">Send</button>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<div class="bar-ontainer">
        <div id="progress-bar">
            <div id="progress"></div>
            <div id="slider"></div>
        </div>
        <div class="frame-info">
			<span>start: <span id="start-frame">1200</span></span>
            <span>cur: <span id="current-frame">5200</span></span>
            <span>end: <span id="end-frame">5200</span></span>
        </div>
    </div>
	<div style="width:100%;  margin-top:4.5em">
		<div class="row">
			<div class="col-md-8" id="game-time" style="margin: 0 auto;width: 100%;">
				<h2 style="text-align: center;">
					<span id="game-time-content" style="color: white;"></span>
				</h2>
			</div>
			<div class="col-md-4">
				
				<h2 style="text-align: right; {% if mode == 'simulate' %} display: none {% endif %}">
					<button id="play_button" type="button" class="btn btn-default">
				    <strong style=" font-size:1.2em"><i class="glyphicon glyphicon-play"></i> &nbsp;Play</strong>
				  </button>
				  
				  <button id="pause_button" type="button" class="btn btn-default">
				    <strong style=" font-size:1.2em"><i class="glyphicon glyphicon-pause"></i> &nbsp;Pause</strong>
				  </button>

				</h2>
				
			</div>
		</div>

		<br>
		<hr style="border-color:#999999">
		<br>

	</div>
</div>


<!-- partial -->
<script src="{% static 'js/phaser.js' %}"></script>
{% include 'home/play_script.html' %}
{% endblock content %}

{% block js_content %}
<script>
	{% for p_name, p_name_os in persona_names %}
		$('#on_screen_det_trigger-{{p_name_os}}').click(function() {
			$('#on_screen_det_content-init').css({
		      'display': 'none',
		    });
			// 重置所有
			{% for p_name, p_name_os in persona_names %}
				$('#on_screen_det_content-{{p_name_os}}').css({
				'display': 'none',
				});
				$('#on_screen_det_trigger-{{p_name_os}}').css({
					'font-weight': '500',
				});
				$('#on_screen_det_trigger-{{p_name_os}}').css({
				'background-color': '#EEE',
				'border-radius': '10px'
				});
			{% endfor %}

    	$('#on_screen_det_trigger-{{p_name_os}}').css({
	      'font-weight': '900',
	    });
	    
	    $('#on_screen_det_content-{{p_name_os}}').css({
	      'display': 'block',
	    });

		if(document.getElementById("temp_focus").innerHTML == '{{p_name}}'){
			document.getElementById("temp_focus").innerHTML = "";
			

		}else{
			document.getElementById("temp_focus").innerHTML = "{{p_name}}";
			$('#on_screen_det_trigger-{{p_name_os}}').css({
			'background-color': '#ABFF84',
			'border-radius': '10px'
			});
		}

		});
	{% endfor %}
</script>



{% endblock js_content %}
